.chats__card {
  display: flex;
  border-bottom: 1px solid $grayLines;
  box-sizing: border-box;
  padding: 12px 10px;

  &:hover {
    cursor: pointer;
    transition: all 1s;
    background: $grayDark;
  }

  &_focus {
    background: $lightBlue;
  }
}

.chats__img {
  width: 47px;
  height: 47px;
  object-fit: contain;
  margin: 0 10px 0 0;
}

.chats__name {
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 4px;
  line-height: 13px;
}

.chats__span {
  font-size: 12px;
  font-weight: 500;

  &_invisible {
    display: none;
  }
}

.chats__text {
  font-size: 12px;
  color: $grayForDates;
  margin: 0;
  line-height: 15px;
}

.chats__card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.chats__time {
  font-size: 9px;
  line-height: 13px;
  color: $grayForDates;
  margin: 0;
}

.chats__counter {
  font-size: 11px;
  color: $white;
  background-color: $blue;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0;
  align-self: end;
}
