<div class="edit__avatar-container {{class}}">
  <div class="edit__over">
    <p class="edit__text">Поменять аватар</p>
  </div>
  {{{imagine}}}
  {{!--{{<img class="edit__avatar" alt="Аватар пользователя" src="{{src}}" />}}--}}
</div>
