.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.errorPage__code {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.errorPage__message {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 69px 0;
}

.errorPage__link {
  color: #3369F3;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;
  margin: 0;
}