<div class="errorPage">
  <p class="errorPage__code">{{code}}</p>
  <p class="errorPage__message">{{message}}</p>
  <a class="errorPage__link button" href="../../pages/cards/chats__cards.html">Назад к чатам</a>
</div>