.edit {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;

  &__title {
    color: #1E1E1E;
    margin: 21px 0 50px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }

  &__avatar-container {
    position: relative;
    width: 130px;
    height: 130px;
    background: rgba(239, 239, 239, 1);
    border-radius: 50%;
    display: flex;
  }

  &__avatar {
    display: block;
    margin: auto;

    &:hover {
      opacity: 0;
    }
  }

  &__over {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &:hover {
      transition: all 1s linear;
      cursor: pointer;
      background: #000;
      opacity: 0.5;
    }
  }

  &__text {
    margin: auto;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    max-width: 64px;
  }

  &__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 100%;
    z-index: 1000;
    background: url(../src/images/backBtn.svg) no-repeat;
    background-position: center;
    background-color: rgba(251, 251, 251, 1);
    border: none;
    border-right: 1px solid rgba(234, 234, 234, 1);

    &:hover {
      background-color: #1E1E1E;
    }
  }

  &__submit-btn {
    margin: 0 auto;
  }
}
