#app {
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;;
  box-sizing: border-box;
}

@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('./variables.scss');
@import url('./layouts/app/app.scss');
@import url('./partials/button/button.scss');
@import url('./partials/input/input.scss');
@import url('./layouts/auth/auth.scss');
@import url('./partials/inputEdit/inputEdit.scss');
@import url('./partials/card/chats__cars.scss');
@import url('./pages/mainMessanger/mainMessanger.scss');
@import url('./partials/errorPage/errorPage.scss');
@import url('./pages/editPage/editPage.scss');
@import url('./pages/editPassword/editPassword.scss');
