$black: rgba(30, 30, 30, 1);
$blue: rgba(51, 105, 243, 1);
$white: rgba(255, 255, 255, 1);
$lightBlue: rgba(228, 237, 253, 1);
$grayBg: rgba(248, 248, 248, 1);
$grayDark: rgba(239, 239, 239, 1);
$grayLight: rgba(251, 251, 251, 1);
$grayLines: rgba(234, 234, 234, 1);
$grayForDates: rgba(153, 153, 153, 1);
$redErrors: rgba(255, 47, 47, 1);

$opacityForModals: 0,4;
$opacityForButton: .7;

$shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.14);
$trans: 1s linear;
