$black: rgb(30 30 30 / 100%);
$blackPopupBg: rgba(0, 0, 0, .4);
$blue: rgb(51 105 243 / 100%);
$white: rgb(255 255 255 / 100%);
$lightBlue: rgb(228 237 253 / 100%);
$grayBg: rgb(248 248 248 / 100%);
$grayDark: rgb(239 239 239 / 100%);
$grayLight: rgb(251 251 251 / 100%);
$grayLines: rgb(234 234 234 / 100%);
$grayForDates: rgb(153 153 153 / 100%);
$redErrors: rgb(255 47 47 / 100%);
$opacityForModals: 0,4;
$opacityForButton: .7;
$shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
$trans: 1s linear;
