.chats {
  display: flex;
  box-sizing: border-box;
  width: 100%;

  &__form {
    display: flex;
  }

  &__label {
    display: none;
  }
}

.chats__sidebar {
  min-width: 310px;
  max-height: 100vh;
  overflow: scroll;
  box-sizing: border-box;
  position: relative;
  background-color: $grayLight;
  border-right: 1px solid $grayLines;
  padding: 0;
}

.chats__sidebar-header {
  text-align: right;
  padding: 20px 10px 0;
  border-bottom: 1px solid $grayLines;
  background-color: $grayLight;
  max-width: inherit;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.chats__add-chat-btn {
  margin: 0 0 14px;
  width: 100%;
}

.chats__profile {
  text-decoration: none;
  display: inline-block;
  color: $grayForDates;
  text-align: right;
  font-size: 12px;
  margin: 0 0 22px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.chats__svg {
  margin-left: 2px;
}

.chats__search-container {
  position: relative;
}

.chats__search {
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  border-radius: 5px;
  background: $grayDark;
  border: none;
  text-align: center;
  font-size: 12px;
  margin: 0 0 14px;
  transition: all 1s;

  &:focus {
    text-align: left;
    padding-left: 34px;
    width: 290px;
  }
}

.chats__cards {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 310px;
}

.chats__card {
  display: flex;
  border-bottom: 1px solid $grayLines;
  box-sizing: border-box;
  padding: 12px 10px;
  height: 70px;

  &_focus {
    background: $lightBlue;
  }

  &:hover {
    cursor: pointer;
    transition: all 1s;
    background: $grayDark;
  }
}

.chats__img {
  width: 47px;
  height: 47px;
  object-fit: contain;
  margin: 0 10px 0 0;
  border-radius: 50%;
}

.chats__img_place_header {
  width: 34px;
  height: 34px;
}

.chats__img-link {
  text-decoration: none;
}

.chats__name {
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 4px;
  line-height: 13px;
  color: $black;
}

.chats__span {
  font-size: 12px;
  font-weight: 500;
}

.chats__span_invisible {
  display: none;
}

.chats__card-text {
  font-size: 12px;
  color: $grayForDates;
  margin: 0;
  line-height: 15px;
  width: 193px;
}

.chats__text {
  -webkit-line-clamp: 2; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden;
  height: 30px;
  word-wrap: break-word;
}

.chats__card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.chats__counter {
  font-size: 11px;
  color: $white;
  background-color: $blue;
  width: 20px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0;
  align-self: end;
}

.chats__message-area {
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.chats__warning {
  text-align: center;
  margin: auto;
}

.chats__header {
  display: flex;
  padding: 10px 0;
  align-items: center;
  border-bottom: 1px solid $grayLines;
  background-color: $white;
  max-width: inherit;
  position: sticky;
  top: 0;
  z-index: 100;
}

.chats__footer {
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template-columns: 42px 1fr 38px;
  align-items: center;
  padding: 11px 0 0;
  margin-top: auto;
  border-top: 1px solid $grayLines;
  background: $white;
}

.chats__attach-btn {
  width: 32px;
  height: 32px;
  background: url("../../src/images/attachBtn.svg") no-repeat;
  border: none;
  margin: 0 10px 0 0;
  align-self: baseline;
}

.chats__input {
  height: 32px;
  border-radius: 30px;
  border: none;
  background: $grayDark;
  padding: 0 20px;
  color: $grayForDates;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.chats__send-btn {
  background: url("../../src/images/sendBtn.svg") no-repeat;
  border: none;
  width: 30px;
  height: 30px;
  margin: 0 0 0 auto;
  align-self: baseline;
}

.chats__menu {
  background: url("../../src/images/menu.svg") no-repeat;
  background-position: center;
  background-color: $grayBg;
  margin-left: auto;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.chats__main {
  display: flex;
  flex-direction: column;
  padding: 48px 0 0;
  height: 100%;
  position: relative;
}

.chats__date {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: $grayForDates;
  margin: 0 0 30px;
}

.chats__message {
  max-width: 402px;
  box-sizing: border-box;
  padding: 11px;
  background: $grayBg;
  border-radius: 0 11px 11px;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 10px;
  position: relative;
  word-wrap: break-word;
  align-self: flex-start;
  padding-right: 65px;
}

.chats__time {
  font-size: 9px;
  line-height: 13px;
  color: $grayForDates;
  margin: 0;
}

.chats__time_place_message {
  position: absolute;
  bottom: 8px;
  right: 11px;
  font-size: 9px;
  line-height: 13px;
  color: $grayForDates;
  margin: 0;
}

.chats__message_user {
  border-radius: 11px 11px 0;
  align-self: flex-end;
  background-color: $lightBlue;
  padding-right: 63px;
  position: relative;
}

.chats__message_is-read {
  position: absolute;
  bottom: 12px;
  right: 39px;
  content: '';
  background: url("../../src/images/read.svg") no-repeat;
  width: 10px;
  height: 5px;
}

.chats__empty-list {
  margin: auto;
  color: $grayForDates;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;

  &_place_sidebar {
    margin-top: 30px;
  }
}
