<aside class="chats__sidebar">
  <div class="chats__sidebar-header">
    {{{button}}}
    {{{search}}}
  </div>
  <ul class="chats__cards">
    {{#each cards}}
      {{{this}}}
    {{/each}}
  </ul>
</aside>
